<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a style="font-size: 1.2rem;" class="navbar-brand" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

    <div>
      <a aria-label="Send email" href="mailto:{{site.email}}"><i class=" fa fa-envelope site-icon"></i></a>
      <a aria-label="My Github" target="_blank" href="{{site.github_url}}"><i class="site-icon fa fa-github-alt"
          aria-hidden="true"></i></a>
      <!-- <a aria-label="My Youtube" target="_blank" href="#"><i class="site-icon fa fa-youtube" aria-hidden="true"></i></a> -->
    </div>
  </div>
</nav>