/* 메인페이지의 css 커스텀 파일 */

.site-icon {
  font-size: 30px !important;
  padding-left: 20px;
  color: white;
}

.nav-link {
  font-size: 20px;
}

.card {
  margin-bottom: 20px;
}

.card-title {
  font-size: 1.5rem;
  color: #1a1a1a;
  font-weight: bold;
  display: inline-block;
}

.badge {
  font-size: 12px;
  font-weight: 500;
}

.card-hr {
  margin: 0;
}

.card-text {
  font-size: 1rem;
  color: #1a1a1a;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* // Extra small devices (portrait phones, less than 991.98px) */
/* @media (max-width: 991.98px) {
  .box {
    text-align: center;
  }

  .profile {
    width: 200px;
    height: 200px;
    border-radius: 70%;
    overflow: hidden;
    margin-right: 20px;
    margin-bottom: 20px;
    object-fit: cover;
  }

  .site-btn {
    margin-bottom: 10px;
    text-align: right;
  }

} */

/* // Extra large devices (large desktops, 992px and up) */
/* @media (min-width: 992px) {
  .box {
    float: left;
  }

  .profile {
    width: 200px;
    height: 200px;
    border-radius: 70%;
    object-fit: cover;
    margin-right: 20px;

  }

  .site-btn {
    float: right;
  }
} */


.box {
  text-align: center;
}

.profile {
  width: 200px;
  height: 200px;
  border-radius: 70%;
  overflow: hidden;
  margin-right: 20px;
  margin-bottom: 20px;
  object-fit: cover;
  text-align: center;

}

.site-btn {
  margin-bottom: 10px;
  text-align: right;
}


div>div>h1 {
  margin: 0;
}

.lead>mark {
  background-color:transparent;
  font-weight: bold;
}

.lead {
  line-height: 1.8em;
}