.icon {
    font-size: 30px;
    padding-left: 20px;
    color: white;
  }

  .nav-link {
    font-size: 20px;
  }

  .card {
    margin-bottom: 20px;
  }

  .card-title {
    /* font-family: 'Nunito Sans', -apple-system, BlinkMacSystemFont, 'Do Hyeon', sans-serif; */
    font-size: 1.5rem;
    color: black;
    font-weight: bold;
  }

  .badge {
    font-size: 13px;
  }

  .card-hr {
    margin: 0;
  }

  .card-text {
    font-size: 1rem;
  }

  .card-tech {
    margin-top: 5px;
    margin-bottom: 5px;
  }